* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir;
}

body {
  background-color: #f9472e;
}

.card-container {
  margin: 50px;
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  /* border: 3px solid black; */
  background: white;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px;
}

.three-dots {
  /* border: 3px solid red; */
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
}

.dot {
  background-color: #6c8499;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  margin: 2px;
  /* border: 1px solid firebrick; */
}

.photo > img {
  /* border: 3px solid red; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.all-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid red; */
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin-top: 20px;
  width: 75px;
  height: 0.5px;
  border: 0px;
  background-color: lightgray;
}

.primary-text {
  font-size: 1.5em;
  font-weight: bold;
}

.secondary-text {
  font-weight: lighter;
  color: lightslategray;
}

.logos {
  margin: 100px 0 10px 0;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 3px solid red; */
  margin: 0 10px;
}

.fb-logo {
  border: 1.5px solid rgb(0, 102, 255);
  color: rgb(0, 102, 255);
}

.insta-logo {
  border: 1.5px solid rgb(255, 0, 217);
  color: rgb(255, 0, 217);
}

.twitter-logo {
  border: 1.5px solid rgb(35, 215, 255);
  color: rgb(35, 215, 255);
}
